<p id="notice"><%= notice %></p>

<p>
  <strong>Id entry:</strong>
  <%= @entry.id_entry %>
</p>

<p>
  <strong>Text:</strong>
  <%= @entry.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
